////////* NAVIGATION*//////////
.menu {
  width: 3rem;
  height: 3rem;
  position: relative;
  transition: all .1s;
  margin: 3%;
  cursor: pointer;
  display: inline-block;
  z-index: 100;

  &:hover {
    transform: scale(1.2);
    transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  }

  &__dot {
    width: .5rem;
    height: .5rem;
    background-color: $color-primary;
    display: block;
    border-radius: 50%;
    position: absolute;

    &:nth-child(1) {
      left: 0;
      top: 0;
    }

    &:nth-child(2) {
      left: 1.2rem;
      top: 0;
    }

    &:nth-child(3) {
      right: 0;
      top: 0;
    }

    &:nth-child(4) {
      left: 0;
      top: 1.2rem;
    }

    &:nth-child(5) {
      left: 1.2rem;
      top: 1.2rem;
    }

    &:nth-child(6) {
      right: 0px;
      top: 1.2rem;
    }

    &:nth-child(7) {
      left: 0px;
      bottom: 0px;
    }

    &:nth-child(8) {
      left: 1.2rem;
      bottom: 0px;
    }

    &:nth-child(9) {
      right: 0px;
      bottom: 0px;
    }
  }
}

.clickmenu{
  transform: rotate(180deg);
  cursor: pointer;
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);

  &__dot {
    border-radius: 50%;
    transition-delay: 200ms;
    transition: .5s cubic-bezier(.8, .5, .2, 1.4);

    &:nth-child(2) {
      position: absolute;
      left: .6rem;
      top: .6rem;
    }

    &:nth-child(4) {
      position: absolute;
      left: .6rem;
      top: 1.8rem;
    }

    &:nth-child(6) {
      position: absolute;
      right: .6rem;
      top: .6rem;
    }

    &:nth-child(8) {
      position: absolute;
      left: 1.8rem;
      bottom: .6rem;
    }
  }
}
     
.sidenav {
  min-height: 100vh;
  width: 25rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-white;
  opacity: 0.7;
  transition: all 0.5s;
  padding-top: 15rem;

  &__link {
    padding: 1rem 1rem 1rem 6rem;
    text-decoration: none;
    font-size: 3.5rem;
    color: $color-primary;
    display: block;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem 1rem 1rem 3rem;
    }

    &:hover {
      color: $color-secondary;
    }
  }
}

  
  