html, body {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  width: auto;
  color: #333;
  font-size: 1.2em;
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: url('img/bg.jpg') no-repeat center fixed;
  background-size: cover;
}

/* menu */
.menuOne{
  width: 30px;
  height: 30px;
  position: relative;
  transition: .1s;
  margin: 3%;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
}
.menuOne span{
  width: 5px;
  height: 5px;
  background-color: rgb(250, 14, 14);
  display: block;
  border-radius: 50%;
}
.menuOne:hover span{
  transform: scale(1.3);
  transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.4); 
}
.menuOne span:nth-child(1){
  position: absolute;
  left: 0;
  top: 0;
}
.menuOne span:nth-child(2){
  position: absolute;
  left: 12px;
  top: 0;

}
.menuOne span:nth-child(3){
  position: absolute;
  right: 0;
  top: 0;
}
.menuOne span:nth-child(4){
  position: absolute;
  left: 0;
  top: 12px;
}
.menuOne span:nth-child(5){
  position: absolute;
  left: 12px;
  top: 12px;
}
.menuOne span:nth-child(6){
  position: absolute;
  right: 0px;
  top: 12px;
}
.menuOne span:nth-child(7){
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.menuOne span:nth-child(8){
  position: absolute;
  left: 12px;
  bottom: 0px;
}
.menuOne span:nth-child(9){
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.clickMenuOne{
  transform: rotate(180deg);
  cursor: pointer;
  transition: .2s cubic-bezier(.8, .5, .2, 1.4);

}
.clickMenuOne span{
  border-radius: 50%;
  transition-delay: 200ms;
  background-color:rgba(255, 189, 189, 0.767);
  transition: .5s cubic-bezier(.8, .5, .2, 1.4);

}
.clickMenuOne span:nth-child(2) {
  position: absolute;
  left: 6px;
  top: 6px;
}
.clickMenuOne span:nth-child(4) {
  position: absolute;
  left: 6px;
  top: 18px;
}
.clickMenuOne span:nth-child(6) {
  position: absolute;
  right: 6px;
  top: 6px;
}
.clickMenuOne span:nth-child(8) {
  position: absolute;
  left: 18px;
  bottom: 6px;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.7;
  transition: 0.5s;
  padding-top: 10%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

/* nav over */

.main-text {
  text-align: right;
  margin-right: 7%;
  padding-top: 5%;
  color: #fff;
  font-weight: 400;
}

/* ABOUT */

.about {
  display: flex;
  justify-content: center;
  margin: 5% 10%;
  align-items: center;
}

.about > div {
  padding: 0 5%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.soc {
  padding: 0 5%;
}

.soc a {
  color: red;
}

.soc a:hover {
  color: #964747;
  cursor: pointer;
}

.more {
  text-align: center;
  margin: 7% 0;
  font-size: 1.3em;
}

.more a{
  color: red;
  text-decoration: none;
  
}

.more a:hover{
  color: #964747;
  cursor: pointer;
}

/* BLOG */
.blog {
  width: 100%;
  height: 300px;
  background: url('img/bg_sm_1.jpg') no-repeat center fixed;
  background-size: cover;
}

.chapter {
  display: flex;
  justify-content: center;
  height: 700px;
  margin: 3% 5%;
}

.chapter .item-one {
  width: 100%;
  padding: 2%;
}

.chapter .item-main-text h2 {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
  padding: 2%;
  text-align: center;
  font-weight: 400;
}

.chapter .item-two {
  width: 100%;
  padding: 2%;
} 

.item-one {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.item-post {
  display: flex;
}

.item-post > div {
  padding: 2% 0;
}

.item-post-text p,
.item-post-text a{
  padding: 0 3%;
}

.item-post-text a{
  color: red;
}

.item-post-text a:hover{
  color: #964747;
  cursor: pointer;
}

.item-two {
  display: flex;
  flex-direction: column;
  margin: 1%;
}

.comment-text {
  padding: 2% 0;
}

.comment-text h4,
.comment-text p {
  margin: 0% 0% 3% 0%; 
} 

.comment-text a {
  color: red;
}

.comment-text a:hover {
  color: #964747;
  cursor: pointer;
}

/* BLOG-POST */
.blog-post {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-text {
  padding: 0% 5%;
}

.post p {
  border-top: 2px red solid;
  padding-top: 5%;
}

/* contact */
.contact {
  height: 500px;
  width: 100%;
  background: url('img/contact.jpg') no-repeat center fixed;
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: 400;
}

.contact-text {
  height: 500px;
  background-color: rgba(0,0,0,.4);
  
}

.contact-text h1 {
  padding: 5% 0%;
}

.contact li {
  list-style-type: none;
  padding: 1% 0%;
  font-size: 1.5em;
}

/* footer */
.footer {
  width: 100%;
  height: 60px;
  background-color: rgb(68, 72, 81);
}

.footer p {
  color: #fff;
  text-align: end;
  padding: 1%;
  margin: 0;
}

/* RESPONSIVE */

@media (max-width: 1440px) {
  .wrapper {
    height: 600px;
  }
  .main-text {
    color: red;
    margin-right: 0%;
    padding-top: 0%;
  }
  .footer {
    height: 60px;
  }
}

@media (max-width: 1200px) {
  .post-image img {
    width: 450px
   }
   .footer {
    height: 50px;
  }
}


@media (max-width: 992px) {
  .main-text {
    text-align: center;
  }
  .about {
  margin: 5% 3%;
  }
  .post-image img {
    width: 350px
   }
  .post p {
    font-size: 1em;
  }
  .contact {
    height: 400px;
  }
  .contact-text {
    height: 400px;
  }
  .footer {
    height: 40px;
    font-size: 1em;
  }
}


@media (max-width: 768px) {
  .about {
    margin: 3% 1%;
    flex-direction: column;
  }
  .about-text p{
    font-size: 1em;
  }
  .blog {
    height: 200px;
  }
  .chapter {
    flex-direction: column;
    height: auto;
  }
  .post-image img {
    width: 250px
   }
  .post p {
    font-size: 0.8em;
  }
  .contact {
    height: 300px;
  }
  .contact h1 {
    font-size: 1.5em;
  }
  .contact-text {
    height: 300px;
  }
  .contact li {
    font-size: 1em;
  }
  .footer {
    height: 30px;
    font-size: 0.8em;
  }
}


@media (max-width: 576px) {
  .post p {
    font-size: 0.6em;
  }
  .post-text {
    padding: 0% 2%;
  }
  .post-image img {
    width: 200px;
   }
   .more {
    font-size: 1em;
  }
}